<md-toolbar color="primary">
   <button  md-button class="md-icon-button" aria-label="Settings">
    <md-icon >menu</md-icon>
  </button>

  <span>{{title}}</span>
  
  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>
  <span flex></span>
  <button md-button class="md-icon-button" aria-label="Favorite">
    Home
  </button>
  <button md-button class="md-icon-button" aria-label="More" (click)="Projecto()">    
    Projectos
  </button>
</md-toolbar>

<router-outlet></router-outlet>